.paginado{
  margin-bottom: -50px;
    display: grid;
    gap:1rem;
    grid-auto-rows: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(0.5rem,0.4rem));
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .number{
      color: #F8F8FF;
      font-size: 35px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-bottom: 10px;
      float: left;
      padding: 0.3rem 5px;
      cursor: pointer;
    }
    .number:hover{
      background:deeppink;
    }
  